alabaster==0.7.9
Babel==2.3.4
click==6.7
configparser==3.5.0
dj-static==0.0.6
Django==1.10.5
-e git://github.com/smacker/django-filebrowser-no-grappelli.git@121c1bcf2c859e8dec8cf43040377ba23e16745b#egg=django_filebrowser_no_grappelli
docutils==0.13.1
easy-thumbnails==2.3
imagesize==0.7.1
Jinja2==2.9.4
Markdown==2.6.7
MarkupSafe==0.23
Pillow==3.4.2
Pygments==2.2.0
PyMySQL==0.7.9
python-memcached==1.58
pytz==2016.10
requests==2.13.0
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5.2
sphinx-intl==0.9.9
sphinx-rtd-theme==0.1.9
static3==0.7.0
Unidecode==0.4.20
