{% extends "blog/base.html" %}
{% block title %}子非鱼｜主页{% endblock %}
{% block content %}
{% load blog_extras %}
{% for article in articles %}
<article class="post">
  <div class="post-head">
    <h1 class="post-title">
      <a href="{% url 'blog:article' article.id %}">{{ article.title }}</a>
    </h1>
    <div class="post-meta">
      <time>
        {{ article.published_date|formatdate:"LLLL" }}
      </time>
    </div>
  </div>
  <div class="post-content">
    {{ article.abstract_content|truncatewords_html:50 }}
  </div>
  <div>
    <a href="{% url 'blog:article' article.id %}" class="btn btn-default">阅读全文</a>
  </div>
  <div class="post-footer">
    <div class="pull-left tag-list">
      <i class="fa fa-tags" aria-hidden="true"></i>
      {% for article_tag in article.tags.all %}
        <a href="{% url 'blog:tag' article_tag.abbreviation %}">{{ article_tag.label }}</a>
      {% endfor %}
    </div>
  </div>
</article>
{% endfor %}
{% endblock %}
