{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/selectize.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/selectize.bootstrap3.css' %}">
<script type="text/javascript" src="{% static 'editor/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/js/selectize.min.js' %}"></script>
{{ tagsinput }}
<script type="text/javascript">
    $('#{{ id }}').selectize({
        delimiter: ',',
        persist: false,
        create: function(input) {
            return {
                value: input,
                text: input
            }
        }
    });
</script>
